* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1a1a1d;
}

table {
    text-align: center;
}

.january, .february, .march, .april, .may, .june {
    display: inline-block;
}

/* .july, .august, .september {

} */