* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1a1a1d;
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;

    color: #c3073f;

    text-decoration: underline;
}

.months {
    margin-left: 35px;
}

table {
    text-align: center;
}

thead {
    color: #950740;
}

tbody {
    color: gray;
}

td, thead {
    border: 1px solid gray;
    
}

h3{
    display: block;
    color: #c3073f;
}

.january, .february, .march, .april, .may, .june, .july, .august, .september, .october, .november, .december {
    display: inline-block;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    padding: 1px;

    font-size: 20px;
    text-align: center;

    word-break: break-all;
}

td {
    padding: 5px;
}

.january 

img {
    display: block;
    width: 100px;
    height: 45px;
    margin-top: 90px;
}