* {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* index.html */

body {
    background-color: #1a1a1d;
}

.title-index {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-top: 400px;
    padding: 15px;

    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 82px;  

    color: #c3073f;
    }

.button-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-top: 0px;
    padding: 15px;
    width: 150px;
    height: 100px;
    left: 696px;
    top: 625px;

    background: #6f2232;
    border-radius: 15px;
}

.button-text {
    font-size: large;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
}

.button-link {
    text-decoration: none;
    color: white;
}

footer .direitos {
    display: block;
    margin-top: 265px;
    
}

/* list.html */


.h1-list {
    display: block;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    color: #c3073f;
}

.months-list {
    display: block;
    padding: 30px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;
    border-radius: 20px;
    background-color: #950740;

    list-style-type: none;
    text-decoration: none;
}

.months-list a {
    text-decoration: none;
    color: white;
}

/* all months */

.january-title, .february-title, .march-title, .april-title, .may-title, .june-title, .july-title, .august-title, .september-title, .october-title, .november-title, .december-title  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #c3073f;
}

.january-table, .february-table, .march-table, .april-table, .may-table, .june-table, .july-table, .august-table, .september-table, .october-table, .november-table, .december-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.week, .days1, .days2, .days3, .days4, .days5, .days6 {
    color: #6f2232;
}

textarea {
    resize: none;
    font-size: 20px;
    background-color: #4e4e50;
    color: white;
    text-align: justify;
}

.january-table, .february-table, .march-table, .april-table, .may-table, .june-table, .july-table, .august-table, .september-table, .october-table, .november-table, .december-table, 
.week, .days1, .days2, .days3, .days4, .days5, .days6, textarea {
    border: 1px solid #4e4e50;
}

img {
    display: block;
    max-width: 100px;
    width: 100px;
    height: 40px; 
    margin-left: auto;
}