body {
    background-color: #1a1a1d;
}

.title-index {
    display: block;
    margin-left: auto;
    margin-right: 500px;
    max-width: 700px;
    margin-top: 400px;
    padding: 15px;

    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 82px;  

    color: #c3073f;
    }

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-top: 0px;
    padding: 15px;
    width: 150px;
    height: 100px;
    left: 696px;
    top: 625px;

    background: #6f2232;
    border-radius: 15px;
}

section p {
    font-size: large;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

footer .direitos {
    display: block;
    margin-top: 266px;
    margin-left: 1475px;
}